
@{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/Tab_Layout.cshtml";
}

<h2>Area</h2>

<script type="text/javascript">
    function doOnLoad() {

    }

    function doOnUnload() {

    }
</script>

