
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Tab_Layout.cshtml";
}

<div id="form_container" style="width:100%;height:100%  ;overflow:auto"></div>
<div id="recinfoArea" style="width:100%;overflow:auto"></div>
<div id="gridbox" style="position:fixed; top:100px; left: 0; right: 0; bottom: 43px"></div>
<div id="pagingArea" style="position: fixed; bottom: 0; width:100%;"></div>


<script type="text/javascript">
    var mygrid, myForm, myTabbar;
    dhxWins = new dhtmlXWindows();
    dhxWins.attachViewportTo("gridbox");
    function doOnLoad() {
        dhxWins = new dhtmlXWindows();
        selectedItem = [];
        formStructure = [
           { type: "settings", position: "label-left", labelAlign: "right", inputWidth: 220, labelWidth: 120 },
        
           {
               type: "combo", label: "单位名称", name: "customname"},
           { type: "combo", label: "所在城市", name: "areainfo" },
           { type: "newcolumn" },
            { type: "calendar", label: "开始日期", name: "StartDate", dateFormat: "%Y-%m-%d" },
           { type: "input", name: "projectname", label: "工程名称" },
            
           { type: "newcolumn" },
            { type: "calendar", label: "结束日期", name: "EndDate", dateFormat: "%Y-%m-%d" },
           { type: "button", name: 'Search', value: "查询", offsetLeft: 150 }
        ];

        myForm = new dhtmlXForm("form_container", formStructure);

        myForm.attachEvent("onButtonClick", function (name) {
            if (name == "Search") {
                gridQString = '/ReportInfo/Search?' + getQueryStr();
                mygrid.clearAll();
                myTabbar.tabs("gridboxOne").progressOn();
                mygrid.load(gridQString, doOnGridLoaded);
            }

        });

        myTabbar = new dhtmlXTabBar({
            parent: "gridbox",
            tabs: [
                { id: "gridboxOne", text: "查询结果", active: true }
            ]
        });
        myTabbar.enableAutoReSize();
        mygrid = myTabbar.tabs("gridboxOne").attachGrid();

        mygrid.setImagePath("../../Dhtmlx/codebase/imgs/");
        mygrid.setHeader("序号,单位名称,工程名称,见证人员,所在城市,操作");//设置列的头文本
        mygrid.setInitWidths("40,*,*,200,150,50");          //设置列的宽度，其中* 为动态宽度
        mygrid.setColAlign("left,left,left,left,left,left");       //设置列的左右对齐
        mygrid.setColTypes("ro,ro,ro,ro,ro,view");                //设置列的类型，一般ro 为只读类型，用的也最多
        mygrid.setColSorting("server,server,server,server,server,server");          //设置列的排序 int还是str
        mygrid.init();      //最后初始化列
        mygrid.attachEvent("onBeforeSorting", sortGridOnServer);

        

        //这是第一步，获取combo对象
        // var customnameCombo = myform.getCombo("customname");

        var checkInstCombo = myForm.getCombo("customname");
        checkInstCombo.enableFilteringMode('between');
        checkInstCombo.load("/ZJCheck/InstCombo");

        var areaCombo = myForm.getCombo("areainfo")
        areaCombo.enableFilteringMode('between');
        areaCombo.load("/ZJCheck/AreaCombo")
      

        mygrid.enablePaging(true,30, null, "pagingArea", true, "recinfoArea");
        mygrid.setPagingSkin("bricks");
        gridQString = '/ReportInfo/Search?' + getQueryStr();

        myTabbar.tabs("gridboxOne").progressOn();
        mygrid.load(gridQString, doOnGridLoaded);
    }

    function sortGridOnServer(ind, gridObj, direct) {
        if (ind >= 2 && ind <= 7) {
            mygrid.clearAll();
            myTabbar.tabs("gridboxOne").progressOn();
            mygrid.load(gridQString + '&' + getGirdSortStr(ind, direct), doOnGridLoaded);
            mygrid.setSortImgState(true, ind, direct);
        }
        return false;
    }

    function doOnGridLoaded() {
        myTabbar.tabs("gridboxOne").progressOff();
    }

    function getQueryStr() {
        var data = [];
        var formData = myForm.getFormData(true);
        for (var key in formData) {
            data.push(key + "=" + encodeURIComponent(formData[key]));
        }
        return data.join('&');
    }

    function excellView_click(obj) {
        var rowId = $(obj).attr('data-rowId');
        window.parent.Hui_admin_tab_raw("/ReportInfo/Details?id=" + rowId, "现场检测工程信息查看");
    }

</script>
