
@{
    ViewBag.Title = "AddSTCheckCustom";
    Layout = "~/Views/Shared/LayuiTab_Layout.cshtml";
}

<div class="layui-container">
    <div class="layui-row" id="checkcustom-addCusAchieve-tableContainer">
        <form class="layui-form" action="" lay-filter="checkcustom-addCusAchieve-form">
            <div class="layui-card">
                <div class="layui-form-item">
                    <label class="layui-form-label">复查时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="CheDate" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">复查内容</label>
                    <div class="layui-input-block">
                        <input type="text" id="CheResult" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" id="CheRem" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="saveCusCheckBtn">新增</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use([  "laydate" ], function () {
        var $ = layui.$,
            laydate = layui.laydate,
            router = layui.router();

        laydate.render({
            elem: '#CheDate'
        });

    });

    var index = parent.layer.getFrameIndex(window.name);

    $('#saveCusCheckBtn').click(function () {
        var CheDate = $('#CheDate').val();
        var CheResult = $('#CheResult').val();
        var CheRem = $('#CheRem').val();
        if (CheDate === '') {
            parent.layer.msg('请填写复查时间');
            return false;
        }
        if (CheResult == '') {
            parent.layer.msg('请填写复查内容');
            return false;
        }

        var str = '<tr><td data-CheckCustom="CheDate">' + CheDate + '</td><td data-CheckCustom="CheResult">' + CheResult + '</td><td data-CheckCustom="CheRem">' + CheRem + '</td><td><button class="layui-btn stcheckCustom-table-btnDel">删除</button>' + '</td></tr>';
        parent.$('#stCustomReCheck-table > tbody:last-child').append(str);

        parent.layer.close(index);
    });
</script>



