@model PkpmGX.Models.STPumpSystemModel

@{
    ViewBag.Title = "PumpSystem";
    Layout = "~/Views/Shared/LayuiTab_Layout.cshtml";
}
<div class="layui-container">
    <div class="layui-row" id="STQualify-PumpSystem-Container">
        <form class="layui-form" action="" lay-filter="STQualify-PumpSystem-form">
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="200">
                        <col width="200">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>型号</th>
                            <th>设备生产厂家</th>
                            <th>生产率m3/h</th>
                            <th>数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.PumpSystems)
                            {
                                <tr><td>@item.type</td><td>@item.producefactory</td><td>@item.spec</td><td>@item.num</td></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
