@model  PkpmGX.Models.CheckQualifyViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Tab_Layout.cshtml";
}


<div id="form_container" style="width:100%;height:170px;overflow:auto"></div>
<div id="recinfoArea" style="width:100%;overflow:auto"></div>
<div id="gridbox" style="position:fixed; top:170px; left: 0; right: 0; bottom: 43px"></div>
<div id="pagingArea" style="position: fixed; bottom: 0; width:100%;"></div>

@* xxf: 为导出Excel添加以下代码 ---------------------------------------------------- *@
<style>
    legend {
        margin-bottom: 0;
    }
</style>

<script type="text/javascript" src="~/Dhtmlx/ext/excel_exporter.js?v=1"></script>
@* ---------------------------------------------------------------------------- *@
<script type="text/javascript">

    var mygrid, myForm, myTabbar, myToolbar, applyWin, applyForm, itemWin, configWin, configForm, itemForm, selectedItem, auditWin, auditForm;
    //dhxWins = new dhtmlXWindows();
    //dhxWins.attachViewportTo("gridbox");


    function doOnLoad() {
        dhxWins = new dhtmlXWindows();
        selectedItem = [];
        formStructure = [
           { type: "settings", position: "label-left", labelAlign: "right", inputWidth: 220, labelWidth: 120 },
           { type: "combo", label: "检测机构名称", name: "CheckUnitName" },
           { type: "combo", name: "status", label: "状态", options: [{ text: "全部", value: "", selected: true }] },
            { type: "combo", label: "区域", name: "Area", options: [{ text: "", value: "" }] },
             { type: "newcolumn" },

           {
               type: "block", width: 420, list: [
                 { type: "calendar", label: "开始日期", name: "CMADStartDt", dateFormat: "%Y-%m-%d", inputWidth: 120, labelWidth: 100 },
                  { type: "newcolumn" },
                  { type: "calendar", label: "至", name: "CMADEndDt", dateFormat: "%Y-%m-%d", inputWidth: 120, labelWidth: 15 },
               ]
           },
              {
                  type: "block", width: 340, list: [
                      { type: "button", name: 'Search', value: "查询", offsetLeft: 150 }
                  ]
              }
        ];

        myForm = new dhtmlXForm("form_container", formStructure);

        myForm.attachEvent("onButtonClick", function (name) {
            if (name == "Search") {
                gridQString = '/ExpertApproval/Search?' + getQueryStr();
                mygrid.clearAll();
                myTabbar.tabs("gridboxOne").progressOn();
                mygrid.load(gridQString, doOnGridLoaded);
            }

        });

        myTabbar = new dhtmlXTabBar({
            parent: "gridbox",
            tabs: [
                { id: "gridboxOne", text: "查询结果", active: true }
            ]
        });
        myTabbar.enableAutoReSize();

        //myToolbar = myTabbar.cells("gridboxOne").attachToolbar();
        //myToolbar.setIconset("awesome");
        //myToolbar.loadStruct("/ExpertApproval/ToolBar");

        mygrid = myTabbar.tabs("gridboxOne").attachGrid();

        mygrid.setImagePath("../../Dhtmlx/codebase/imgs/");

        mygrid.setHeader("&nbsp,序号,单位名称/申请人姓名,机构基本情况表,法定代表人基本情况,技术负责人基本情况,检测类别、内容、具备相应注册工程师资格人员情况,专业技术人员情况总表,主要仪器设备（检测项目）及其检定/校准一览表,申请类型,&nbsp,&nbsp");//设置列的头文本
        mygrid.setInitWidths("40,40,280,100,120,120,280,130,270,80,250,180");          //设置列的宽度，其中* 为动态宽度
        mygrid.setColAlign("left,right,left,left,left,left,left,left,left,left,left,left");       //设置列的左右对齐
        mygrid.setColTypes("ch,ro,layuijslink,layuijslink,layuijslink,layuijslink,layuijslink,layuijslink,layuijslink,ro,layuijslink,layuijslink");                //设置列的类型，一般ro 为只读类型，用的也最多
        mygrid.setColSorting("server,server,server,server,server,server,server,server,server,server,server,server");          //设置列的排序 int还是str
        mygrid.init();      //最后初始化列
        mygrid.attachEvent("onBeforeSorting", sortGridOnServer);

        var checkInstCombo = myForm.getCombo("CheckUnitName");
        var statusCombo = myForm.getCombo("status");
        var areaCombo = myForm.getCombo("Area")


        checkInstCombo.enableFilteringMode('between');
        areaCombo.enableFilteringMode('between');

        checkInstCombo.load("/ExpertApproval/InstCombo");
        areaCombo.load("/ExpertApproval/AreaCombo")

        setComboCustomFilter(checkInstCombo);
        setComboCustomFilter(areaCombo);

        mygrid.enablePaging(true, 15, null, "pagingArea", true, "recinfoArea");
        mygrid.setPagingSkin("bricks");
        gridQString = '/ExpertApproval/Search?' + getQueryStr();

        myTabbar.tabs("gridboxOne").progressOn();
        mygrid.load(gridQString, doOnGridLoaded);
    }

    function showItem(name, value) {
        return "<div class='simple_link'><a href='javascript:void(0);' onclick='selectItemDetail();'>" + value + "</a></div>";
    }

    function clearItem(name, value) {
        return "<div class='simple_link'><a href='javascript:void(0);' onclick='clearItemDetail();'>" + value + "</a></div>";
    }

    function clearItemDetail() {
        selectedItem = [];
        myForm.setItemValue('QuantityCategory', '');
    }


    function getQueryStr() {
        var data = [];
        var formData = myForm.getFormData(true);
        for (var key in formData) {
            data.push(key + "=" + encodeURIComponent(formData[key]));
        }
        return data.join('&');
    }

    function getGirdSortStr(ind, direct) {
        var data = [];
        data.push("orderColInd" + "=" + encodeURIComponent(ind));
        data.push("direct" + "=" + encodeURIComponent(direct));
        return data.join('&');
    }

    function sortGridOnServer(ind, gridObj, direct) {
        if (ind >= 2 && ind <= 7) {
            mygrid.clearAll();
            myTabbar.tabs("gridboxOne").progressOn();
            mygrid.load(gridQString + '&' + getGirdSortStr(ind, direct), doOnGridLoaded);
            mygrid.setSortImgState(true, ind, direct);
        }
        return false;
    }

    // grid dataload callback
    function doOnGridLoaded() {
        myTabbar.tabs("gridboxOne").progressOff();
    }

    function doOnUnload() {

    }

    //审批
    function ApprovalUnitBuildingQualify(customId) {
        window.parent.Hui_admin_tab_raw("/ExpertApproval/UnitBuildingQualify?id=" + customId, "建设工程质量检测机构资质审核表");
    }

    //审批
    function ApprovalSpecialQualify(customId) {
        window.parent.Hui_admin_tab_raw("/ExpertApproval/SpecialQualify?id=" + customId, "专项检测备案审核表");
    }

    function DetailUnitBuildingQualify(id, pid) {
        window.parent.Hui_admin_tab_raw("/ExpertApproval/DetailUnitBuildingQualify?id=" + id + "&pid=" + pid, "建设工程质量检测机构资质审核表-查看");
    }

    function DetailSpecialQualify(id, pid) {
        window.parent.Hui_admin_tab_raw("/ExpertApproval/DetailSpecialQualify?id=" + id + "&pid=" + pid, "专项检测备案审核表-查看");
    }


    function DetailQualifyOne(id) {
        layer.open({
            type: 2,
            area: ['500px', '380px'],
            fixed: false, //不固定
            maxmin: true,
            title: "检测机构法定代表人声明-查看",
            content: '/ApplyQualify/DetailQualifyOne/' + id
        });
    }


    function DetailQualifyTwo(id, customid) {
        window.parent.Hui_admin_tab_raw("/ApplyQualify/EditQualifyTwo?id=" + id + "&customid=" + customid, "检测机构编辑");
    }

    function DetailQualifyFive(id) {

        window.parent.Hui_admin_tab_raw("/ApplyQualify/DetailQualifyFive?id=" + id, "具备注册工程师资格人员情况");
    }

    function DetailQualifyThree(id, customid) {
        window.parent.Hui_admin_tab_raw("/ApplyQualify/DetailQualifyThree?pid=" + id + "&customid=" + customid, "法定代表人基本情况查看");
    }

    function DetailQualifyFour(id, customid) {
        window.parent.Hui_admin_tab_raw("/ApplyQualify/DetailQualifyFour?pid=" + id + "&customid=" + customid, "技术负责人基本情况查看");
    }

    function DetailQualifySeven(pid,customId) {
        window.parent.Hui_admin_tab_raw("/ApplyQualifySeven/Details?pid=" + pid + "&customid=" + customId, "设备仪器信息查看");
    }


</script>



