
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Tab_Layout.cshtml";
}

<div id="form_container" style="width:100%;height:170px;overflow:auto"></div>
<div id="recinfoArea" style="width:100%;overflow:auto"></div>
<div id="gridbox" style="position:fixed; top:0px; left: 0; right: 0; bottom: 43px"></div>
<div id="pagingArea" style="position: fixed; bottom: 0; width:100%;"></div>
<script type="text/javascript">
    var mygrid, myForm, myTabbar, myToolbar, applyWin, applyForm, itemWin, configWin, configForm, itemForm, selectedItem, auditWin, auditForm;
    //dhxWins = new dhtmlXWindows();
    //dhxWins.attachViewportTo("gridbox");

    function doOnLoad() {
        dhxWins = new dhtmlXWindows();
        selectedItem = [];
        formStructure = [
           { type: "settings", position: "label-left", labelAlign: "right", inputWidth: 220, labelWidth: 120 },
           { type: "hidden", label: "表一编号", name: "PId", value: "@Model.pid" },
           { type: "hidden", name: "CustomId", label: "机构编号", value: "@Model.customId" }
        ];

        myForm = new dhtmlXForm("form_container", formStructure);

        myTabbar = new dhtmlXTabBar({
            parent: "gridbox",
            tabs: [
                { id: "gridboxOne", text: "查询结果", active: true }
            ]
        });
        myTabbar.enableAutoReSize();

        //myToolbar = myTabbar.cells("gridboxOne").attachToolbar();
        //myToolbar.setIconset("awesome");
        //myToolbar.loadStruct("/ApplyQualifyFive/ToolBar");
        //myToolbar.attachEvent("onClick", function (id) {
        //    if (id == "Import") {//导入逻辑
        //        importEquip();
        //    } else if (id == "Save") {

        //        var formData = getQueryStr();

        //        var data = [];
        //        data.push('gridStr' + '=' + encodeURIComponent(mygrid.serialize()));

        //        formData = formData + '&' + data.join("&");

        //        window.dhx.ajax.post("/ApplyQualifyFive/Edit", formData, function (response) {
        //            var t = window.dhx.s2j(response.xmlDoc.responseText);
        //            if (t != null && t.IsSucc) {
        //                dhtmlx.alert({
        //                    text: "人员信息导入成功！", ok: "确定", callback: function (result) {
        //                        window.parent.Hui_admin_close("/ApplyQualifyFive/Edit");
        //                    }
        //                });
        //            }
        //            else {
        //                dhtmlx.alert({ text: t.ErroMsg, ok: "确定" });
        //            }
        //        })
        //    }
        //});

        mygrid = myTabbar.tabs("gridboxOne").attachGrid();

        mygrid.setImagePath("../../Dhtmlx/codebase/imgs/");

        mygrid.setHeader("序号,检测类别,检测类容,姓名,注册资格证书号,上岗资格证书号,注册单位名称,职称,专业,学历,检测年限,注册证书有效期,备注,注册证书附件,上岗证书附件,职称附件,学历附件");

        mygrid.setInitWidths("40,*,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100");          //the widths of columns
        mygrid.setColAlign("right,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left,left");       //the alignment of columns
        mygrid.setColTypes("ro,txt,coro,ro,ro,ro,ro,ro,ro,ro,txt,ro,txt,layuijslink,layuijslink,layuijslink,layuijslink");                //the types of columns
        mygrid.setColSorting("int,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str");
        mygrid.init();      //最后初始化列
        mygrid.enablePaging(true, 30, null, "pagingArea", true, "recinfoArea");
        mygrid.setPagingSkin("bricks");
        var comboTox = mygrid.getCombo(2);
        @{
            foreach (var item in Model.checkWork)
            {
              @:comboTox.put("@item.Name", "@item.Name");
            }
         }
        mygrid.attachEvent("onBeforeSorting", sortGridOnServer);
        gridQString = '/ApplyQualifyFive/DetailsSearch?' + getQueryStr();

        myTabbar.tabs("gridboxOne").progressOn();
        mygrid.load(gridQString, doOnGridLoaded);
    }


    function sortGridOnServer() {
        return false;
    }

    function doOnUnload() {

    }

    function doOnGridLoaded() {
        myTabbar.tabs("gridboxOne").progressOff();
    }

    function getQueryStr() {
        var data = [];
        var formData = myForm.getFormData(true);
        for (var key in formData) {
            data.push(key + "=" + encodeURIComponent(formData[key]));
        }
        return data.join('&');
    }

    function importEquip() {
        dhxWins.attachViewportTo("gridbox");
        importWin = dhxWins.createWindow("menuW", 30, 40, 1000, 500);
        importWin.setModal(true);
        importWin.center();
        importWin.setText('人员信息');


        gridTabber = importWin.attachTabbar({
            tabs: [
                    { id: "gridDtails", text: "查询结果", active: true }
            ]
        });

        //var gridToolBar = gridTabber.tabs("gridDtails").attachToolbar();
        //gridToolBar.setIconset("awesome");
        //gridToolBar.loadStruct("/ApplyQualifyFive/ImportToolBar");
        //gridToolBar.attachEvent("onClick", function (id) {
        //    if (id == "ImportEquips") {//导入逻辑
        //        var selectdRows = importGrid.getCheckedRows(0);
        //        $.each(selectdRows.split(','), function (index, value) {

        //            var strTem = ",,,#Name#,#zgzsh#,#sgzsh#,#zcdw#,#zc#,#zy#,#xl#,,#yxq#,,<a style='text-decoration:none;color:white' onclick=javascript:uploadFile('#zczshpath#+注册证书附件'); return false; data-rowid=#dataid# href='javascript:;' <button class='layui-btn layui-btn-normal layui-btn-xs'title='注册证书附件查看'>注册证书附件查看</button></a>,<a style='text-decoration:none;color:white' onclick=javascript:uploadFile('#zczshpath#+上岗证书附件'); return false; data-rowid=#dataid# href='javascript:;' <button class='layui-btn layui-btn-normal layui-btn-xs'title='上岗证书附件查看'>上岗证书附件查看</button></a>,<a style='text-decoration:none;color:white' onclick=javascript:uploadFile('#zcpath#+职称附件'); return false; data-rowid=#dataid# href='javascript:;' <button class='layui-btn layui-btn-normal layui-btn-xs'title='职称附件查看'>职称附件查看</button></a>,<a style='text-decoration:none;color:white' onclick=javascript:uploadFile('#xlpath#+学历附件'); return false; data-rowid=#dataid# href='javascript:;' <button class='layui-btn layui-btn-normal layui-btn-xs'title='学历附件查看'>学历附件查看</button></a>,删除"
        //            var values = {};
        //            values["Name"] = importGrid.cells(value, 2).cell.innerText.replace(',', ' ');

        //            values["zgzsh"] =importGrid.cells(value, 3).cell.innerText;
        //            values["sgzsh"] = importGrid.cells(value, 4).cell.innerText;
        //            values["zcdw"] = importGrid.cells(value, 5).cell.innerText;
        //            values["zc"] = importGrid.cells(value, 6).cell.innerText;
        //            values["zy"] = importGrid.cells(value, 7).cell.innerText;
        //            values["xl"] = importGrid.cells(value, 8).cell.innerText;
        //            values["yxq"] = importGrid.cells(value, 9).cell.innerText;
        //            values["zczshpath"] = importGrid.cells(value,11).cell.innerText;
        //            values["zczshpath"] = importGrid.cells(value, 12).cell.innerText;
        //            values["zcpath"] = importGrid.cells(value,13).cell.innerText;
        //            values["xlpath"] = importGrid.cells(value, 14).cell.innerText;
        //            values["dataid"] = value;
        //            console.log(window.dhx4.template(strTem, values));
        //            mygrid.addRow(value, window.dhx4.template(strTem, values));
        //            //mygrid.addRow(value, ",,," + importGrid.cells(value, 2).cell.innerText.replace(',', ' ') + ","
        //            //    + importGrid.cells(value, 3).cell.innerText + ","
        //            //    + importGrid.cells(value, 4).cell.innerText + ","
        //            //    + importGrid.cells(value, 5).cell.innerText + ","
        //            //    + importGrid.cells(value, 6).cell.innerText + ","
        //            //    + importGrid.cells(value, 7).cell.innerText + ","
        //            //    + importGrid.cells(value, 8).cell.innerText + ",,"
        //            //    + importGrid.cells(value, 9).cell.innerText + ",,删除");
        //        });
        //        importWin.close();
        //    }
        //});

        gridTabber.tabs("gridDtails").attachStatusBar({
            text: "<div id='recinfoArea1'></div><div id='pagingArea1'></div>",
            paging: true
        });

        importGrid = gridTabber.tabs("gridDtails").attachGrid();

        importGrid.setImagePath("../../Dhtmlx/codebase/imgs/");

        importGrid.setHeader("&nbsp,序号,姓名,注册资格证书号,上岗资格证书号,注册单位名称,职称,专业,学历,注册证书有效期,查看,&nbsp,&nbsp,&nbsp,&nbsp");//设置列的头文本
        importGrid.setInitWidths("40,40,80,200,100,80,80,160,200,130,40,0,0,0,0");          //设置列的宽度，其中* 为动态宽度
        importGrid.setColAlign("right,right,left,left,left,left,left,left,left,left,left,left,left,left,left");       //设置列的左右对齐
        importGrid.setColTypes("ch,ro,ro,ro,ro,ro,ro,ro,ro,ro,view,ro,ro,ro,ro");                //设置列的类型，一般ro 为只读类型，用的也最多
        importGrid.setColSorting("server,server,server,server,server,server,server,server,server,server,server,server,server,server,server");          //设置列的排序 int还是str
        importGrid.init();      //最后初始化列
        importGrid.enablePaging(true, 30, null, "pagingArea1", true, "recinfoArea1");
        importGrid.setPagingSkin("bricks");
        importGrid.attachEvent("onBeforeSorting", sortGridOnServer);
        var gridQStrings = '/ApplyQualifyFive/SearchImport?customId=@Model.customId&pid=@Model.pid' + getQueryStr();

        gridTabber.tabs("gridDtails").progressOn();
        importGrid.load(gridQStrings, function () {
            gridTabber.tabs("gridDtails").progressOff();
        });



    }


    function excellView_click(obj) {
        var rowId = $(obj).attr('data-rowId');
        window.parent.Hui_admin_tab_raw("/CheckPeopleManager/Details/" + rowId, "检测人员查看");
    }

    function excellDel_click(obj) {
        var rowId = $(obj).attr('data-rowId');
        mygrid.deleteRow(rowId);
    }




    function uploadFile(fileUrl) {//查看附件方法
        console.log(111);
        fileUrls = fileUrl.split('+');
        dhxWins.attachViewportTo("gridbox");
        lookWin = dhxWins.createWindow("lookWin", 200, 250, 700, 700);
        lookWin.setModal(true);
        lookWin.setText(fileUrls[1] + "查看");
        dhxWins.window("lookWin").keepInViewport(true);

        myLayout = lookWin.attachLayout({
            pattern: "1C",
            cells: [
                   {
                       id: "a",        // id of the cell you want to configure
                       text: "检定/校准证书查看",     // header text
                       collapsed_text: "检定/校准证书查看",   // header text for a collapsed cell
                       header: true,      // hide header on init
                       width: 700,        // cell init width
                       height: 250,        // cell init height
                       collapse: false        // collapse on init
                   },
            ]
        });
        myCarousel = myLayout.cells("a").attachCarousel();
        myLayout.cells("a").hideHeader();

        var uploadedphoto = fileUrl[0];
        var photoarr = uploadedphoto.split('|');

        for (i = 0; i < photoarr.length; i++) {
            if (photoarr[i] && photoarr[i].length > 0) {
                myCarousel.addCell(photoarr[i]);

                myCarousel.cells(photoarr[i]).attachHTMLString("<div style='position: relative; left: 0px; top: 0px; overflow: auto; width: auto; height: 100%;'>" + "<img src='/CheckEquip/Image?itemValue=" + encodeURIComponent(photoarr[i]) + "' border='0' style='width: 100%;'></div>");
            }
        }
    }

</script>

