
@{
    ViewBag.Title = "AddCusChange";
    Layout = "~/Views/Shared/LayuiTab_Layout.cshtml";
}

<div class="layui-container">
    <div class="layui-row" id="checkcustom-addCusAchieve-tableContainer">
        <form class="layui-form" action="" lay-filter="checkcustom-addCusAchieve-form">
            <div class="layui-card">
                <div class="layui-form-item">
                    <label class="layui-form-label">变更时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="ChaDate" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">变更内容</label>
                    <div class="layui-input-block">
                        <input type="text" id="ChaResult" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" id="ChaRem" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="saveCusChangeBtn">新增</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use([  "laydate" ], function () {
        var $ = layui.$,
            laydate = layui.laydate,
            router = layui.router();

        laydate.render({
            elem: '#ChaDate'
        });

    });

    var index = parent.layer.getFrameIndex(window.name);

    $('#saveCusChangeBtn').click(function () {
        var ChaDate = $('#ChaDate').val();
        var ChaResult = $('#ChaResult').val();
        var ChaRem = $('#ChaRem').val();
        if (ChaDate === '') {
            parent.layer.msg('请填写变更时间');
            return false;
        }
        if (ChaResult == '') {
            parent.layer.msg('请填写变更内容');
            return;
        }
        var id = +new Date()
        var str = '<tr id=' + id + '><td class="chaDate"  data-Change="ChaDate" >' + ChaDate + '</td><td class="chaContent" data-Change="ChaContent">' + ChaResult + '</td><td class="chaRem" data-Change="ChaRem">' + ChaRem + '</td><td><button class="layui-btn cusChange-table-btnEdit">编辑</button><button class="layui-btn cusChange-table-btnDel">删除</button>' + '</td></tr>';
        parent.$('#cusChange-table > tbody:last-child').append(str);

        parent.layer.close(index);
    });
</script>


