
@{
    ViewBag.Title = "NewCustom";
    Layout = "~/Views/Shared/LayuiTab_Layout.cshtml";
}

<div class="layui-container">
    <div class="layui-row" id="checkcustom-addCusAchieve-tableContainer">
        <form class="layui-form" action="" lay-filter="checkcustom-addCusAchieve-form">
            <div class="layui-card">
                <div class="layui-form-item">
                    <label class="layui-form-label">机构名称<span style="color:red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" id="CustomName" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-space15">
                        <label class="layui-form-label">数据上传编码<span style="color:red">*</span></label>
                        <div class="layui-input-block">
                            <input type="text" id="CustomNo" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <center>
                        <text>请向软件供应商索取数据上传编码</text>
                    </center>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <center>
                            <button class="layui-btn" id="save">保存</button>
                        </center>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(["layer" ], function () {
        var $ = layui.$,
            laydate = layui.laydate,
            layer = layui.layer,
           
            router = layui.router();
    });

    var index = parent.layer.getFrameIndex(window.name);
    
    $('#save').click(function (data) {
      
        var CustomName = $('#CustomName').val();
        var CustomNo = $('#CustomNo').val();

        if (CustomName == '') {
            parent.layer.msg('请填写机构名称');
            return false;
        }
        if (CustomNo == '') {
            parent.layer.msg('请填写数据上传编码');
            return false;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/CheckQualify/NewCustom?" + "CustomName=" + CustomName + "&CustomNo="+CustomNo,
           
            success: function (d) {
                if (d.IsSucc) {
                    layer.msg('机构新增成功'),{
                        btn: ['确定'],
                        yes: function (index) {
                            layer.closeAll();
                        },
                        icon:1
                    }
                }
                else {
                    layer.msg('机构新增失败，错误信息：' + d.ErroMsg, {
                        icon: 2
                    });
                }
            }
        })
        return false;
    });
</script>

