
@{
    ViewBag.Title = "setInstFormal";
    Layout = "~/Views/Shared/LayuiTab_Layout.cshtml";
}


<div class="layui-container">
    <div class="layui-row" id="checkcustom-addCusAchieve-tableContainer">
        <form class="layui-form" action="" lay-filter="checkcustom-addCusAchieve-form">
            <div class="layui-card">
                <div class="layui-form-item">
                    <label class="layui-form-label">正式机构编号<span style="color:red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" id="formalCustomId"  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <center>
                            <button class="layui-btn" id="save">保存</button>
                        </center>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(["layer" ], function () {
        var $ = layui.$,
            laydate = layui.laydate,
            layer = layui.layer,

            router = layui.router();
    });

    var index = parent.layer.getFrameIndex(window.name);

    $('#save').click(function (data) {

        var formalCustomId = $('#formalCustomId').val();
        var id = @ViewBag.id;
        console.log(id);
        if (formalCustomId == '') {
            parent.layer.msg('请填写正式机构编号');
            return false;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/CheckQualify/setInstFormal?" + "customid=" + id + "&formalCustomId="+formalCustomId,

            success: function (d) {
                if (d.IsSucc) {
                    layer.confirm('操作成功', {
                        btn: ['确定']
                    }, function (index) {
                       
                        layer.close(index);
                        parent.layer.closeAll();
                       
                    })
                }
                else {
                    layer.msg('操作失败，错误信息：' + d.ErroMsg, {
                        icon: 2
                    });
                }
            }
        })
        return false;
    });
</script>

