
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Tab_Layout.cshtml";
}

<h2>Index</h2>

<script type="text/javascript">
    function doOnLoad() {

    }

    function doOnUnload() {

    }
</script>


