
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Tab_Layout.cshtml";
}


<div id="form_container" style="width:auto;height:100%;"></div>
<div id="gridbox" style="position:fixed; top:50px; left: 0; right: 0; bottom: 43px"></div>

<script type="text/javascript">
    var myForm, myTabbar, mygrid, gridQString;

    function doOnLoad() {
       var formStructure = [
            { type: "settings", position: "label-left", labelAlign: "right", inputWidth: 120, labelWidth: 120 },
           { type: "combo", label: "单位名称", name: "CheckUnitName" },
            { type: "newcolumn" },
           { type: "input", label: "工程名称", name: "CheckProject" },
            { type: "newcolumn" },
            { type: "button", name: 'Search', value: "查询", offsetLeft: 20 }

       ];

        myForm = new dhtmlXForm("form_container", formStructure);

        myForm.attachEvent("onButtonClick", function (name) {
            gridQString = '/ZNHTY/Search?' + getQueryStr();
            mygrid.clearAll();
            myTabbar.tabs("gridboxOne").progressOn();
            mygrid.load(gridQString, doOnGridLoaded);
        });

        var checkInstCombo = myForm.getCombo("CheckUnitName");

        checkInstCombo.enableFilteringMode('between');
        checkInstCombo.load("/ZNHTY/InstCombo");

        myTabbar = new dhtmlXTabBar({
            parent: "gridbox",
            tabs: [
                { id: "gridboxOne", text: "查询结果", active: true }
            ]
        });
        myTabbar.enableAutoReSize();
        mygrid = myTabbar.tabs("gridboxOne").attachGrid();

        myTabbar.tabs("gridboxOne").attachStatusBar({
            text: "<div id='recinfoArea'></div><div id='pagingArea'></div>",
            paging: true
        });

        gridQString = '/ZNHTY/Search?' + getQueryStr();

        mygrid.setImagePath("../../Dhtmlx/codebase/imgs/");
        mygrid.setHeader("序号,单位名称,工程名称,检测人员,检测设备,检测流水号,&nbsp");//the headers of columns
        mygrid.setInitWidths("40,300,*,200,200,200,40");          //the widths of columns
        mygrid.setColAlign("right,left,left,left,left,left,left");       //the alignment of columns
        mygrid.setColTypes("ro,ro,ro,ro,ro,ro,view");                //the types of columns
        mygrid.setColSorting("server,server,server,server,server,server,server");          //the sorting types
        mygrid.init();      //finishes initialization and renders the grid on the page
        mygrid.attachEvent("onBeforeSorting", sortGridOnServer);
        mygrid.enablePaging(true, 30, null, "pagingArea", true, "recinfoArea");
        mygrid.setPagingSkin("bricks");
        myTabbar.tabs("gridboxOne").progressOn();
        mygrid.load(gridQString, doOnGridLoaded);
    }

    function sortGridOnServer(ind, gridObj, direct) {
        //mygrid.clearAll();
        //mygrid.load(gridQString + (gridQString.indexOf("?") >= 0 ? "&amp;" : "?")
        // + "orderby=" + ind + "&amp;direct=" + direct);
        //mygrid.setSortImgState(true, ind, direct);
        return false;
    }

    function excellView_click(obj) {
        var rowId = $(obj).attr('data-rowId');
        window.parent.Hui_admin_tab_raw("/ZNHTY/Details?id=" + rowId, "回弹仪方案查看");

    }

    function getQueryStr() {
        var data = [];
        var formData = myForm.getFormData(true);
        for (var key in formData) {
            data.push(key + "=" + encodeURIComponent(formData[key]));
        }
        return data.join('&');
    }

    // grid dataload callback
    function doOnGridLoaded() {
        myTabbar.tabs("gridboxOne").progressOff();
    }

    function doOnUnload() {

    }
</script>